{{ define "main" }}
<main>

  <div>
    <canvas id="canvas1"></canvas>
    <script src="/js/particle.js"></script>
  </div>

  <div class="max-w-screen-lg mx-auto">
    <div class="bg-white rounded-lg">
    <!-- Ranges through content/posts/*.md -->
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "post") }}
    {{ range $index, $element := $paginator.Pages }}
      {{- partial "common/postItem.html" . -}}
    {{ end }}
    </div>

    {{- partial "common/pagination.html" . -}}
  </div>
</main>
{{ end }}