
{{ define "main" }}
<section id="main" class="max-w-screen-lg py-12">
  {{- partial "common/dateItem.html" . -}}
  <h1 id="title">{{ .Title }}</h1>
  {{- partial "common/tags.html" . -}}
  <div>
        <article id="content" class="markdown-body">
           {{ .Content }}
        </article>
  </div>
</section>
<aside id="meta">
  <div class="flex justify-between">
    {{ with .PrevInSection }}
      <div class="self-start hover:text-primary">
        <a class="previous" href="{{.RelPermalink}}">
          <div>前の記事</div>
          << {{.Title}}
        </a>
      </div>
    {{ end }}
    {{ with .NextInSection }}
      <div class="self-end hover:text-primary">
        <a class="next" href="{{.RelPermalink}}">
          <div class="text-right">次の記事</div>
          {{.Title}} >>
        </a>
      </div>
    {{ end }}
  </div>
</aside>
{{ end }}