
{{ define "main" }}
<main>
  <div class="max-w-screen-lg mx-auto">
  <article id="main" class="bg-white rounded-lg sm:my-6 sm:mx-2 py-6 px-2 sm:px-6">
    <section id="content-title">
      {{- partial "common/dateItem.html" . -}}
      <h1 id="title">{{ .Title }}</h1>
      {{- partial "common/tags.html" . -}}
    </section>
    <section id="content" class="markdown-body">
      {{ .Content }}
    </section>
    {{- partial "common/shareButtons.html" (dict "Title" .Title "absUrl" .Permalink  ) -}}
  </article>
</div>
</main>
<aside id="meta">
  {{- partial "common/related.html" . -}}
</aside>
{{ end }}