<header class="shadow">
  <div class="w-full max-w-screen-lg mx-auto flex justify-between">
    <a href="{{ "/" | relURL }}">
      <div class="text-xl text-primary tracking-widest py-4 px-8">
        Web Engine
      </div>
    </a>

    <div class="flex justify-center">
      <a href="{{ "/about" | relURL }}">
        <div class="flex justify-center items-center h-full">
          <div
            class="text-sm text-gray hover:text-primary tracking-wider py-4 px-8 "
          >
            About
          </div>
        </div>
      </a>

      <a href="{{ "/contact" | relURL }}">
        <div class="flex justify-center items-center h-full">
          <div
            class="text-sm text-gray hover:text-primary tracking-wider py-4 px-8 "
          >
            Contact
          </div>
        </div>
      </a>

    </div>
  </div>
</header>