{{ define "main" }}
<div class="relative top-wrapper mb-10">
  <img class="object-cover w-full" style="height: 200px;" src="/images/top-img.jpg" alt="top-img">
  <div class="absolute text-center top-1/5 inset-x-0">
    <img src="{{ .Site.Params.author.logoUrl | relURL }}" class="mx-auto" alt="logo">
    <div class="text-primary font-bold pt-2" style="letter-spacing: .2em;">DASHLOG</div>
  </div>
</div>
<main>
    <div class="max-w-screen-lg mx-auto">
      <div class="bg-white rounded-lg">
    <!-- Ranges through content/posts/*.md -->
    {{ range $index, $element := (.Paginator 5).Pages }}
      {{- partial "common/postItem.html" . -}}
    {{ end }}
        </div>
    </div>

    {{- partial "common/pagination.html" . -}}
</main>
{{ end }}