{{ define "main" }}
<main>
  <article>
      <div class="relative top-wrapper mb-10">
        <img class="object-cover w-full" style="height: 200px;" src="/images/top-img.jpg" alt="top-img">
        <div class="absolute text-center top-1/3 inset-x-0">
          <div class="text-black font-bold pt-2 text-4xl" style="letter-spacing: .2em;">{{.Title}}</div>
        </div>
      </div>
      <!-- "{{.Content}}" pulls from the markdown content of the corresponding _index.md -->
      {{ .Content }}

    <div class="max-w-screen-lg mx-auto">
	    {{- partial "common/seriesMenu.html" . -}}
      <!-- Ranges through content/posts/*.md -->
      {{ range $index, $element := (.Paginator 5).Pages }}
        {{- partial "common/postItem.html" . -}}
      {{ end }}
    </div>
  </article>
</main>
{{ end }}