<header class="shadow bg-white">
  <div class="max-w-screen-lg mx-auto px-2">
  <div class="flex justify-between items-center w-full">
    <div class="logo ml-4">
      <a href="{{ .Site.BaseURL | relURL }}" class="flex justify-center items-center">
        <img src="{{ .Site.Params.author.logoUrl | relURL }}" alt="logo" class="w-10 h-10 mr-3">
        <div class="text-3xl text-primary font-bold tracking-widest py-3 text-center">
          KITE
        </div>
      </a>
    </div>
    
    <div class="hidden sm:flex justify-end items-center">
      {{- partial "header/menus.html" . -}}
    </div>
    
    {{- partial "header/modalMenus.html" . -}}
  </div>
  </div>
</header>