<header class="shadow hidden md:flex flex-col px-5 w-64">
  <div class="w-full max-w-screen-lg mx-auto">
    <div class="logo mt-2">
      <a href="{{ .Site.BaseURL | relURL }}" class="flex justify-center items-center">
        <img src="{{ .Site.Params.author.logoUrl | relURL }}" alt="logo" class="w-10 h-10 mr-3">
        <div class="text-2xl text-primary tracking-widest py-3 text-center">
          KITE
        </div>
      </a>
    </div>
    {{- partial "common/divider.html" . -}}
    
    {{- partial "header/profile.html" . -}}

    {{- partial "common/divider.html" . -}}

    {{- partial "header/menus.html" . -}}
  </div>
  <div class="mt-auto">
  {{- partial "common/copyright.html" . -}}
  </div>
</header>